#colorrojo{ 
    color: red;
    font-size: 42px;
}
  .colorverde{
    color: green;
    font-size: 30px;
    
  }  

   li{font-size: 20px;
    color: blueviolet;
   }
    p,a{
        font-size: 21px;
        color: blue;
    }